<!doctype html>
<html>
<head>
	<title>Apple web 1</title>
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
</head>


<!-- Header Start-->


<body>
<header class="header">
<div class="top">



<div class="search">
<form method="post">
<input type="text" name="keyword" placeholder="Search...">
<input type="submit" value="search">
</form>
</div>

</div>
<div class="head">
<a href="#" class="logo" alt="codetomake.com" title="codetomake.com">
<em>Codetomake.com</em>
</a>
<a href="#" class="top-banner" alt="codetomake.com" title="codetomake.com">
<img src="./images/banner-468-60.jpg" width="468" height="60" >
</a>
</div>
<nav>
	<ul>
		<li><a href="/admin/adminhome" class="active">Admin Home</a></li>
		<li><a href="/admin/manageuser">Manage Users</a></li>
		<li><a href="/login">Logout</a></li>
		
	</ul>
</nav>
</header>
<!-- Header End-->